<div class="container mt-5">
  <div class="form-area">
    <h1>Reactive Form</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]='form '>
      <div class="form-group">
        <label>First Name</label>
        <input 
        type="text" 
        placeholder="Full Name" 
        class="form-control" 
        name="fullName" 
        formControlName="fullName"
        required
        minlength="5"
        maxlength="15"
        >
        <div class="alert alert-danger" *ngIf="fc.fullName?.errors?.['required'] && fc.fullName?.touched">required</div>
        <div class="alert alert-danger" *ngIf="fc.fullName?.errors?.['minlength']">minlength</div>
      </div>
      <div class="form-group">
        <label>Email Address</label>
        <input 
        type="email" 
        placeholder="Email Address" 
        class="form-control" 
        name="emailAddress" 
        formControlName="emailAddress"
        >
        <div class="alert alert-danger" *ngIf="fc.emailAddress?.errors?.['required'] && fc.emailAddress?.touched">required</div>
        <div class="alert alert-danger" *ngIf="fc.emailAddress?.errors?.['pattern']">Correct it</div>
        <div class="alert alert-danger" *ngIf="fc.emailAddress?.errors?.['noSpaceValidator']">No space</div>

      </div>
      <div class="form-group">
        <label>Full Address</label>
        <textarea 
        placeholder="Full Address" 
        class="form-control" 
        name="fullAddress" 
        formControlName="fullAddress"
        >
      </textarea>
      </div>

      <div class="form-group">
        <label>Skills (Seperate skills via [Comma,Space, or Enter])</label>
        <input 
        type="text" 
        class="form-control"
        #skill 
        (keyup)="addSkills(skill,$event) ">

        <ul class="list-group">
          <li 
          class="list-group-item"
          *ngFor = "let skill of fc.skills.controls ; let i = index"
          >
            {{skill.value}}
            <a class="btn btn-sm btn-danger" (click)="removeSkills(i) && true">X</a>
          </li>
        </ul>
        <div class="alert alert-danger" *ngIf="addSkills(skill)">required</div>

      </div>

      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  
    </form>
  </div>
</div>
